.DS_Store
*.pyc
*~
.*.sw[po]
tags

lighthouse/*.xml
lighthouse/*/*.xml
lighthouse/*/*/*.xml
lighthouse/*/*/*/*.xml

github/*.json
github/*/*.json
github/*/*/*.json
github/*/*/*/*.json
github/*/*/*/*/*.json